# **Proyecto: Análisis de Emisiones de Gases Contaminantes (CO2Eq) Sistema Eléctrico Colombiano**

Realizado por: **Julián Andrés Santos Méndez**

email: ingjuliansantos@gmail.com

Archivo: Adquisición de datos con la API de XM S.A. E.S.P.

In [1]:
import pydataxm as api_xm
import pandas as pd
import datetime as dt

In [2]:
consult = api_xm.ReadDB()

## Descarga de datos Emisiones CO2

In [3]:
df_emisiones_co2 = consult.request_data("EmisionesCO2", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_emisiones_co2

,Id,Values_Name,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,RecursoComb,MRL1,GAS,,,,,,,,...,104.08,67.26,68.14,96.07,68.78,66.97,50.78,,,2013-10-01
1,RecursoComb,PPA1,CARBON,37.26,37.24,37.14,37.21,37.01,37.61,37.34,...,36.77,37.24,36.84,36.67,36.67,37.11,37.05,36.63,37.27,2013-10-01
2,RecursoComb,PPA2,CARBON,84.68,84.3,85.39,85.26,85.37,84.19,84.32,...,84.9,84.5,84.41,84.21,83.9,84.37,85.24,84.56,85.02,2013-10-01
3,RecursoComb,PPA4,CARBON,121.88,111.02,98.9,80.73,63.19,45.15,20.35,...,,,,,,,,,,2013-10-01
4,RecursoComb,PRG1,GAS,,,,,,,,...,1.9,13.8,21,26.05,26.38,26.38,26.38,14.59,,2013-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69291,RecursoComb,TSR1,GAS,89.44,89.5,89.42,89.56,89.53,89.54,90.3,...,85.54,85.92,86.99,87.57,87.99,88.57,88.68,88.79,88.8,2021-01-04
69292,RecursoComb,TYP1,GAS,14.05,14.05,14.05,14.05,14.06,14.05,14.05,...,14.05,14.05,14.05,14.06,14.05,14.05,14.04,14.05,14.05,2021-01-04
69293,RecursoComb,TYP2,GAS,23.59,23.67,23.69,23.7,23.62,23.66,23.69,...,22.84,22.85,22.98,23.08,23.16,23.38,23.66,23.73,23.7,2021-01-04
69294,RecursoComb,TYP3,GAS,26.64,26.74,26.83,26.83,26.84,26.81,26.79,...,26.3,26.34,26.44,26.5,26.48,26.53,26.67,26.78,26.85,2021-01-04
69295,RecursoComb,TYP4,GAS,26.29,26.33,26.35,26.36,26.38,26.37,26.34,...,26.21,26.2,26.26,26.29,26.26,26.3,26.32,26.35,26.37,2021-01-04

In [4]:
df_emisiones_co2.to_csv('data/emisionesCO2.csv')

## Descarga de datos Emsiones CH4

In [5]:
df_emisiones_ch4 = consult.request_data("EmisionesCH4", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_emisiones_ch4

,Id,Values_Name,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,RecursoComb,2S6S,CARBON,,,,,,,,...,,,,,,,,,4.8117E-07,2018-01-01
1,RecursoComb,2S8G,CARBON,,,,,,,,...,1.4529595E-05,1.4668842E-05,1.4997368E-05,1.506362E-05,1.4880721E-05,1.4317716E-05,1.4495968E-05,1.5220274E-05,1.6089842E-05,2018-01-01
2,RecursoComb,2S8I,GAS,6.2602783E-05,6.2602783E-05,5.8846616E-05,5.759456E-05,5.5716476E-05,5.6342504E-05,6.1350727E-05,...,4.8204143E-05,5.2586337E-05,4.8204143E-05,5.1334282E-05,5.196031E-05,4.883017E-05,4.7578115E-05,4.1943864E-05,4.2569892E-05,2018-01-01
3,RecursoComb,2S8S,BIOGAS,9.719082E-06,9.727721E-06,9.729881E-06,9.734201E-06,9.734201E-06,8.099235E-06,6.634893E-06,...,9.926422E-06,9.917783E-06,9.911304E-06,9.906984E-06,9.898345E-06,9.894025E-06,9.891866E-06,9.904824E-06,9.898345E-06,2018-01-01
4,RecursoComb,2S9Q,BIOGAS,1.40387E-07,,,,,,,...,,,,,,,,,,2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56863,RecursoComb,TSR1,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04
56864,RecursoComb,TYP1,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04
56865,RecursoComb,TYP2,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04
56866,RecursoComb,TYP3,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04
56867,RecursoComb,TYP4,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04

In [6]:
df_emisiones_ch4.to_csv('data/emisionesCH4.csv')

## Descarga de datos Emisiones de N2O

In [7]:
df_emisiones_n2o = consult.request_data("EmisionesN2O", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_emisiones_n2o

,Id,Values_Name,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,RecursoComb,2S6S,CARBON,,,,,,,,...,,,,,,,,,7.21983E-07,2018-01-01
1,RecursoComb,2S8G,CARBON,,,,,,,,...,2.1801278E-05,2.2010216E-05,2.250316E-05,2.2602569E-05,2.2328134E-05,2.148336E-05,2.1750821E-05,2.2837624E-05,2.4142389E-05,2018-01-01
2,RecursoComb,2S8I,GAS,6.289948E-06,6.289948E-06,5.912551E-06,5.786752E-06,5.598054E-06,5.660953E-06,6.164149E-06,...,4.84326E-06,5.283556E-06,4.84326E-06,5.157757E-06,5.220657E-06,4.906159E-06,4.78036E-06,4.214265E-06,4.277165E-06,2018-01-01
3,RecursoComb,2S8S,BIOGAS,9.76514E-07,9.77382E-07,9.77599E-07,9.78033E-07,9.78033E-07,8.13762E-07,6.66634E-07,...,9.97347E-07,9.96479E-07,9.95828E-07,9.95394E-07,9.94526E-07,9.94092E-07,9.93875E-07,9.95177E-07,9.94526E-07,2018-01-01
4,RecursoComb,2S9Q,BIOGAS,1.4105E-08,,,,,,,...,,,,,,,,,,2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56863,RecursoComb,TSR1,GAS,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2021-01-04
56864,RecursoComb,TYP1,GAS,2.54241E-05,2.54241E-05,2.541668E-05,2.541668E-05,2.542728E-05,2.541668E-05,2.54135E-05,...,2.541562E-05,2.541456E-05,2.541032E-05,2.542834E-05,2.541244E-05,2.541456E-05,2.540608E-05,2.541244E-05,2.541456E-05,2021-01-04
56865,RecursoComb,TYP2,GAS,4.268196E-05,4.281552E-05,4.284944E-05,4.286852E-05,4.27286E-05,4.279326E-05,4.285368E-05,...,4.131774E-05,4.133046E-05,4.157638E-05,4.174916E-05,4.18965E-05,4.22887E-05,4.27922E-05,4.293212E-05,4.286428E-05,2021-01-04
56866,RecursoComb,TYP3,GAS,4.818442E-05,4.836674E-05,4.854058E-05,4.853316E-05,4.8548E-05,4.849182E-05,4.84685E-05,...,4.758128E-05,4.764912E-05,4.783356E-05,4.793744E-05,4.789292E-05,4.800104E-05,4.825014E-05,4.844624E-05,4.857026E-05,2021-01-04
56867,RecursoComb,TYP4,GAS,4.75569E-05,4.76311E-05,4.76735E-05,4.769152E-05,4.771166E-05,4.769894E-05,4.764594E-05,...,4.74191E-05,4.738942E-05,4.750602E-05,4.75622E-05,4.74986E-05,4.757068E-05,4.76152E-05,4.76735E-05,4.77053E-05,2021-01-04

In [8]:
df_emisiones_n2o.to_csv('data/emisionesN2O.csv')

## Descarga de datos Comsumo de Combustible

In [9]:
df_consumo_cumbustible = consult.request_data("ConsCombustibleMBTU", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_consumo_cumbustible

,Id,Values_Name,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Recurso,CARBON,PPA1,400.69,400.44,399.43,400.14,398.05,404.5,401.57,...,395.37,400.44,396.21,394.37,394.33,399.06,398.39,393.95,400.81,2013-10-01
1,Recurso,CARBON,PPA2,910.63,906.56,918.27,916.87,918.06,905.37,906.77,...,913.01,908.74,907.75,905.58,902.21,907.26,916.66,909.37,914.27,2013-10-01
2,Recurso,CARBON,PPA4,1310.63,1193.9,1063.58,868.1,679.56,485.56,218.8,...,,,,,,,,,,2013-10-01
3,Recurso,CARBON,TGJ1,835.87,799.12,801.48,801.74,801.48,801.74,798.59,...,808.83,807.78,846.63,1328.89,1347.79,1261.68,1250.66,1174,1159.82,2013-10-01
4,Recurso,CARBON,TGJ2,761.31,761.31,761.31,761.31,761.31,761.31,761.31,...,787.57,1050.09,1417.62,1417.62,1470.12,1417.62,1286.36,367.53,,2013-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45389,Recurso,GAS,TSR1,1526.38,1527.31,1525.94,1528.38,1527.94,1528,1541.06,...,1459.75,1466.25,1484.5,1494.38,1501.62,1511.56,1513.38,1515.19,1515.38,2021-01-04
45390,Recurso,GAS,TYP1,239.85,239.85,239.78,239.78,239.88,239.78,239.75,...,239.77,239.76,239.72,239.89,239.74,239.76,239.68,239.74,239.76,2021-01-04
45391,Recurso,GAS,TYP2,402.66,403.92,404.24,404.42,403.1,403.71,404.28,...,389.79,389.91,392.23,393.86,395.25,398.95,403.7,405.02,404.38,2021-01-04
45392,Recurso,GAS,TYP3,454.57,456.29,457.93,457.86,458,457.47,457.25,...,448.88,449.52,451.26,452.24,451.82,452.84,455.19,457.04,458.21,2021-01-04
45393,Recurso,GAS,TYP4,448.65,449.35,449.75,449.92,450.11,449.99,449.49,...,447.35,447.07,448.17,448.7,448.1,448.78,449.2,449.75,450.05,2021-01-04

In [10]:
df_consumo_cumbustible.to_csv('data/consumo_combustible.csv')

## Descarga de datos Generación

In [11]:
df_generacion = consult.request_data("Gene", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_generacion

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,5652791.52,5434676.04,5317141.75,5276928.62,5546540.88,6201108.04,6379259.59,6709058.07,...,8057228.31,8065553.07,8123746.36,8994497.99,9013217.17,8537423.32,7867980.39,7017838.98,6137747.72,2013-10-01
1,Sistema,Sistema,5677851.52,5477764.86,5378952.23,5363349.58,5612340.88,6254438.19,6436153.78,6781485.33,...,8295899.55,8219480.02,8354390.63,9257396.62,9228358.81,8765813.28,8126048.3,7315892.17,6351571.17,2013-10-02
2,Sistema,Sistema,5924722.52,5723195.66,5583457.41,5576196.96,5814280.41,6446987.43,6605138.76,6999708.38,...,8424219.15,8309044.38,8326148.78,9257384.87,9189614.04,8691094.41,8059333.2,7236136.29,6398200.98,2013-10-03
3,Sistema,Sistema,5875616.2,5591186.74,5488837.22,5504456.12,5722966.69,6306930.44,6519761.99,6858336.16,...,7995739.24,7939393.18,8133314.95,8950259.06,8856754.85,8265433.53,7679348.57,6937681.68,6290652.12,2013-10-04
4,Sistema,Sistema,5800445.58,5529161.83,5372898.1,5339722.55,5454094.02,5623988.94,5851244.67,6437923.62,...,7215059.26,7087162.94,7163605.7,8311249.84,8388383.36,7997181.5,7494951.82,6832508.25,6239010.18,2013-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648,Sistema,Sistema,6983477.67,6661710.98,6441261.72,6342394.37,6366607.23,6456400.38,6448004.15,6868949.57,...,7622496.74,7523069.9,7579209.28,8464699.92,8503960.38,8139984.83,7658053.07,7250423.61,6905701.04,2020-12-31
2649,Sistema,Sistema,6660644.46,6469314.51,6235579.24,6052481.7,5930616.78,5828793.11,5437937.68,5472101.08,...,6515981.86,6472648.02,6526204.7,7419437.49,7657713.81,7520289.68,7309777.74,6962647.72,6665152.92,2021-01-01
2650,Sistema,Sistema,6346224.06,6076456.92,5928709.32,5846709.96,5840357.25,5862457.78,5787320.4,6144260.34,...,7447173.88,7357492.88,7392737.78,8251196.24,8434844.59,8244430.43,7921561.52,7457497.42,7027864.67,2021-01-02
2651,Sistema,Sistema,6662582.14,6360350.07,6216714.8,6124778.07,6093827.02,6091414.88,5882192.37,6068663.77,...,7265667.35,7132794.21,7200537.62,8138566.4,8385740.03,8262113.74,7983504.81,7564896.15,7091237.49,2021-01-03
2652,Sistema,Sistema,6695350.85,6449780.49,6286050.76,6210814.3,6300268.96,6481808.38,6620248.63,7166146.89,...,8873658.51,8673557.38,8452682.7,9174866.32,9338166.1,9127025.91,8707679.31,8056390.67,7454131.38,2021-01-04

In [12]:
df_generacion.to_csv('data/generacion.csv')

## Descarga de datos Volumen Util Diario Energía

In [13]:
df_volumen_util = consult.request_data("VoluUtilDiarEner", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_volumen_util

           Id         Value        Date
0     Sistema    9520171994  2013-10-01
1     Sistema  9480617576.9  2013-10-02
2     Sistema  9488427942.9  2013-10-03
3     Sistema  9685847285.1  2013-10-04
4     Sistema  9726045133.9  2013-10-05
...       ...           ...         ...
2648  Sistema   12165376700  2020-12-31
2649  Sistema   12171761700  2021-01-01
2650  Sistema   12162106100  2021-01-02
2651  Sistema   12162884000  2021-01-03
2652  Sistema   12119595700  2021-01-04

[2653 rows x 3 columns]

In [14]:
df_volumen_util.to_csv('data/volumen_util_energia.csv')

## Descarga de datos Aportes de Energía

In [15]:
df_aportes = consult.request_data("AporEner", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_aportes

           Id      Value        Date
0     Sistema  142710800  2013-10-01
1     Sistema  126028500  2013-10-02
2     Sistema  153994800  2013-10-03
3     Sistema  341075900  2013-10-04
4     Sistema  167324800  2013-10-05
...       ...        ...         ...
2648  Sistema  118550500  2020-12-31
2649  Sistema  118503400  2021-01-01
2650  Sistema  124764300  2021-01-02
2651  Sistema  131550400  2021-01-03
2652  Sistema  106500900  2021-01-04

[2653 rows x 3 columns]

In [16]:
df_aportes.to_csv('data/aportes_energia.csv')

## Descarga de datos Demanda Sistema Interconectado

In [17]:
df_demanda = consult.request_data("DemaSIN", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_demanda

           Id         Value        Date
0     Sistema  170653599.45  2013-10-01
1     Sistema  173140071.36  2013-10-02
2     Sistema  177865752.04  2013-10-03
3     Sistema   171838308.3  2013-10-04
4     Sistema  165308256.39  2013-10-05
...       ...           ...         ...
2648  Sistema  176711963.29  2020-12-31
2649  Sistema   155622821.9  2021-01-01
2650  Sistema  168376861.02  2021-01-02
2651  Sistema   168100047.3  2021-01-03
2652  Sistema  189714311.81  2021-01-04

[2653 rows x 3 columns]

In [18]:
df_demanda.to_csv('data/demanda.csv')

## Descarga de datos Precio Bolsa Nacional

In [3]:
df_precio = consult.request_data("PrecBolsNaci", 0, dt.date(2013, 10, 1),dt.date(2021, 1, 4))
df_precio

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,136.24,136.24,136.24,136.24,136.24,139.73,139.73,149.24,...,154.24,149.24,149.24,164.24,164.24,154.24,149.24,149.24,139.73,2013-10-01
1,Sistema,Sistema,141.55,141.55,141.55,141.55,142.45,142.45,142.45,142.45,...,151.45,151.45,151.45,170.77,170.77,151.58,151.45,142.45,142.45,2013-10-02
2,Sistema,Sistema,151.21,151.21,151.21,151.21,151.21,155.99,155.99,155.99,...,189.61,162.01,162.01,189.61,189.61,202.01,162.01,155.99,151.21,2013-10-03
3,Sistema,Sistema,154.42,154.42,154.42,154.42,154.42,154.42,156.3,156.3,...,157.42,157.42,157.42,157.42,157.42,157.42,157.42,156.3,154.42,2013-10-04
4,Sistema,Sistema,150.98,159.88,125.88,125.88,125.88,150.98,150.98,150.98,...,159.88,159.88,159.88,159.88,159.88,159.88,159.88,159.88,150.98,2013-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648,Sistema,Sistema,124.28,124.28,124.28,124.28,124.28,124.28,124.28,138.28,...,153.28,153.28,153.28,178.28,178.28,178.28,153.28,153.28,138.28,2020-12-31
2649,Sistema,Sistema,142.4,142.4,142.4,142.4,142.4,142.4,128.4,128.4,...,153.4,153.4,153.4,198.4,199.4,198.4,168.4,153.4,153.4,2021-01-01
2650,Sistema,Sistema,86.21,85.36,86.21,86.21,86.21,86.21,86.21,91.05,...,148.05,148.05,148.05,189.05,189.05,189.05,148.05,148.05,140.05,2021-01-02
2651,Sistema,Sistema,128.24,128.24,128.24,128.24,128.24,128.24,100.24,100.24,...,138.24,138.24,138.24,167.24,199.24,167.24,167.24,167.24,128.24,2021-01-03
2652,Sistema,Sistema,126.55,126.55,126.55,126.55,126.55,134.27,126.55,143.55,...,166.55,166.55,157.55,198.55,198.55,166.55,166.55,157.55,139.55,2021-01-04

In [4]:
df_precio.to_csv('data/precio_bolsa.csv')

## Descarga Listado de Recursos de Generación

In [3]:
df_listado_recursos = consult.request_data("CapEfecNeta", 1, dt.date(2019, 10, 1),dt.date(2021, 1, 4))
df_listado_recursos

,Id,Code,Name,Type,Disp,RecType,CompanyCode,EnerSource,OperStartDate,CapaValue,Date
0,Recurso,2QBW,EL POPAL,HIDRAULICA,NO DESPACHADO CENTRALMENTE,FILO DE AGUA,LCSG,AGUA,2014-03-31T00:00:00,19900.0,2019-10-01
1,Recurso,2QEK,SALTO II,HIDRAULICA,DESPACHADO CENTRALMENTE,FILO DE AGUA,ENDG,AGUA,2014-06-25T00:00:00,35000.0,2019-10-01
2,Recurso,2QRL,LA REBUSCA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,HZEG,AGUA,2014-07-24T00:00:00,700.0,2019-10-01
3,Recurso,2QV2,BAJO TULUA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,EPSG,AGUA,2015-01-30T00:00:00,19900.0,2019-10-01
4,Recurso,2R22,LAGUNETA,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,ENDG,AGUA,2014-12-17T00:00:00,18000.0,2019-10-01
...,...,...,...,...,...,...,...,...,...,...,...
102448,Recurso,VNTB,VENTANA B,HIDRAULICA,NO DESPACHADO CENTRALMENTE,NORMAL,HDTG,AGUA,1957-11-01T00:00:00,2500.0,2021-01-04
102449,Recurso,ZPA2,ZIPAEMG 2,TERMICA,DESPACHADO CENTRALMENTE,NORMAL,ENDG,CARBON,1964-01-01T00:00:00,35000.0,2021-01-04
102450,Recurso,ZPA3,ZIPAEMG 3,TERMICA,DESPACHADO CENTRALMENTE,NORMAL,ENDG,CARBON,1976-01-01T00:00:00,63000.0,2021-01-04
102451,Recurso,ZPA4,ZIPAEMG 4,TERMICA,DESPACHADO CENTRALMENTE,NORMAL,ENDG,CARBON,1981-04-01T00:00:00,64000.0,2021-01-04
102452,Recurso,ZPA5,ZIPAEMG 5,TERMICA,DESPACHADO CENTRALMENTE,NORMAL,ENDG,CARBON,1985-12-14T00:00:00,63000.0,2021-01-04

In [4]:
df_listado_recursos.to_csv('data/listado_recursos.csv')